
.App {
  display: flex;
  justify-content: center; /* Горизонтальне центрування */
  align-items: center; /* Вертикальне центрування */
  min-height: 100vh; /*Заповнити висоту батьківського контейнера */
  background-color: #ffffff;
}

.App-link {
  color: #61dafb;
}
