.auth-container{
    min-width: 40vw;
}
.auth-container h2 {
    color: #175676;
    text-align: center;
}
.form-container{
    background-color:#ffffff;
    border: 1px solid grey;
    padding: 30px 20px 30px 20px;
    border-radius: 10px;
    align-items: center;
    
}
.submit-button{
    min-width: 100%;
    margin-top: 10px;
    padding: 6px;
    height: auto;
    font-weight: bold;
    background-color: #436195;
    border-radius: 20px;
}
.submit-button :hover{
    background-color: #4361959e;
}