.header {
    position: fixed; 
    top: 0;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f6f6f6;
    color: rgb(15, 38, 112);
    z-index: 100;
  }
  
.user-info {
    display: flex;
    margin-left: 20px;
}

.logout-button {
    background-color: #e7132cc8;
    margin-right: 20px;
    min-width: 130px;
    min-height: 45px;
    font-size: medium;
    color: white;
    border: none;
    border-radius: 9px;
    padding: 5px 10px;
    cursor: pointer;
}

.logout-button button:hover {
    background-color: #FF2E4C;
}
  