.auth-container{
    min-width: 40vw;
}
.auth-container h2 {
    color: #175676;
    text-align: center;
}
.form-container{
    background-color:#ffffff;
    border: 1px solid grey;
    padding: 30px 20px 30px 20px;
    border-radius: 10px;
    align-items: center;
}
.submit-button{
    min-width: 100%;
    margin-top: 10px;
    padding: 6px;
    height: auto;
    font-weight: bold;
    background-color: #436195;
    border-radius: 20px;
    max-width: 30vw;
}
.submit-button :hover{
    background-color: #4361959e;
}
.errorMessage{
    color:rgb(187, 43, 43);
}

.centered-container{
    width: 40vw;
    text-align: center;
}
.horizontal-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px; /* Adjust the top margin as needed */
}

.emails-button{
    min-width: 150px;
    width: 40%;
    padding: 6px;
    font-size: small;
    height: auto;
    background-color: #5a7ab1;
    border-radius: 20px;
}
.big-text{
    font-size: xx-large;
}